<h1 class="text-2xl mb-4">Company-wide Charts for <%= current_user.company.name %></h1>

<!-- Possibly a multi-line chart, one line per team, etc. -->
<%# = render "shared/pdp_charts", chart_data: @company_chart_data %>
