<% the_create_column_path = if @superadmin
                              superadmin_company_team_user_item_progress_columns_path(@company, @team, @user)
                            elsif @company.present?
                              company_owner_company_team_user_item_progress_columns_path(@company, @team, @user)
                            elsif @team.present?
                              manager_team_user_item_progress_columns_path(@team, @user)
                            else
                              my_item_progress_columns_path
                            end
%>


<%= form_with model: item_progress_column,
              url: the_create_column_path,
              method: :post,
              data: { turbo_frame: "add_progress_column" },
              class: "flex flex-col space-y-2 bg-gray-800 p-2 rounded" do |f| %>
  <%= f.date_field :date, class: "rounded bg-gray-700 border border-gray-600 px-2 py-1 text-white", required: true %>

  <div class="flex flex-col space-y-1">
    <%= f.submit t('buttons.save'), class: "bg-blue-600 hover:bg-blue-700 text-white px-2 py-1 rounded" %>
    <%= link_to t('buttons.cancel'), "#", class: "text-red-500 hover:underline", data: { action: "click->cell-edit#cancelEdit" } %>
  </div>
<% end %>
