<%= form_with model: item_progress_column,
              url: my_item_progress_columns_path,
              method: :post,
              data: { turbo_frame: "add_progress_column" },
              class: "flex flex-col space-y-2 bg-gray-800 p-2 rounded" do |f| %>
  <%= f.date_field :date, class: "rounded bg-gray-700 border border-gray-600 px-2 py-1 text-white", required: true %>

  <div class="flex flex-col space-y-1">
    <%= f.submit "Save", class: "bg-blue-600 hover:bg-blue-700 text-white px-2 py-1 rounded" %>
    <%= link_to "Cancel", "#", class: "text-red-500 hover:underline", data: { action: "click->cell-edit#cancelEdit" } %>
  </div>
<% end %>
