<!-- app/views/layouts/_breadcrumbs.html.erb -->
<div class="bg-gray-700 text-sm px-4 py-2">
  <%# You might parse request path or store some kind of breadcrumb logic.
      For demonstration, let's do a trivial example. %>
  <span class="text-gray-300">
    <%= breadcrumbs %>
  </span>
</div>
